In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/content/placement.csv')
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [4]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
class LR_From_Scratch:

    def __init__(self):
        self.m = None
        self.b = None

    def fit(self,X_train,y_train):

        num = 0
        den = 0

        for i in range(X_train.shape[0]):

            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))

        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b)

    def predict(self,X_test):

        print(X_test)

        return self.m * X_test + self.b

In [9]:
lr=LR_From_Scratch()

In [10]:
lr.fit(X_train,y_train)

0.5579519734250721
-0.8961119222429152

In [11]:
print(lr.predict(X_test[0]))

8.58
3.891116009744203